.home_conatiner{
    width: 100vw;
    height: 100vh;
    // background-color: aqua;
    background-image: url(https://st.depositphotos.com/30845988/54340/i/600/depositphotos_543409332-stock-photo-top-view-laptop-text-react.jpg);
    background-size: cover;
    background-position: center;
}
.h1{
    align-items: center;

}
